// Custom.scss
$body-color: #111;
$theme-colors: ( "primary": #629BDD, "secondary": #B8C6D6, "body-bg": #F7F7F7);
$body-bg: #F7F7F7;
$font-family-sans-serif: 'Work Sans',
sans-serif;
$font-family-base: 'Work Sans',
sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 700;
$nav-link-padding: 10px 15px 10px 15px;
$headings-color: #629BDD;
// NAV
$link-color: #4A4A4A;
$headings-font-family: 'Work Sans',
sans-serif;
$headings-font-weight: 400;
$headings-line-height: 1.3;
@import "node_modules/bootstrap/scss/bootstrap";
.logo {
    padding-top: 5pt;
    padding-bottom: 10pt;
}

a.active {
    color: #629BDD;
    font-weight: 400;
}

.nav-link {
    padding-left: 0px;
    padding-right: 30px;
}

.top-white {
    background-color: white;
}

.contact-top {
    background-color: #02B8BF; //#53BBFF;
    padding: 10px 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 120px;
    text-align: center;
}

h3 {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
}

.contactData {
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}

.phoneNumber {
    clear: both;
}

.contactHeader {
    font-size: 0.8rem;
}

.contactContainerBottom {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 30px;
    padding-top: 30px;
}

.drName {
    font-size: 1.3rem;
    color: #629BDD;
    font-weight: 700;
    text-align: center;
    margin: 0px auto;
}

.darkSection {
    background-color: #125F89;
}

.greenSection {
    background-color: #02B8BF;
    margin-top: 40px;
}

.greenSection h2 {
    color: white;
}

.darkSection p {
    color: #F7F7F7;
}

.greenSection p {
    color: #F7F7F7;
}

.drProfileText {
    padding-top: 30px;
}

.drProfile {
    padding-bottom: 40px;
}

.drPhoto {
    width: 170px;
    height: 170px;
    margin: 30px auto 0px;
}

h2 {
    font-size: 1.8rem;
    line-height: 1;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 700;
    text-align: center;
    color: #125F89;
    font-family: Helvetica, Arial;
}

h2.light {
    color: #F7F7F7;
}

.contactRow {
    margin: 20px 0;
}

.map {
    margin-top: 40px;
}

.topImage {
    display: block;
    width: 100%;
    height: 200px;
    background: url(../img/top.jpg) 50% center / cover no-repeat;
}

.topIndicator {
    height: 10px;
    background-color: #629BDD;
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    .topImage {
        height: 250px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    h2 {
        font-size: 2rem;
        margin: 4rem 0 3rem 0;
    }
    .phoneNumber:first-child {
        padding-right: 20px;
    }
    .contact-top {
        width: 270px;
        text-align: center;
    }
    .topImage {
        height: 300px;
    }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 2.5rem;
        margin: 5rem 0 4rem 0;
    }
    .contactContainer {
        font-size: 1.3em;
    }
    .phoneNumber {
        clear: both;
    }
    .topImage {
        height: 350px;
    }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .topImage {
        height: 400px;
    }
    .drName {
        text-align: left;
        margin: 0px;
    }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 320px) {
    .contact-top {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .container {
        margin: 0px;
    }
    .container-fluid {
        padding: 0px;
    }
    .contactIcon {
        width: 30px;
        height: 30px;
    }
    .drPhoto {
        width: 120px;
        height: 120px;
    }
    .address {
        margin-left: 70px;
        margin-top: 40px;
    }
}