// Custom.scss
$body-color: #111;
$theme-colors: ( "primary": #629BDD, "secondary": #B8C6D6, "body-bg": #F7F7F7);
$body-bg: #F7F7F7;
$font-family-sans-serif: 'Work Sans',
sans-serif;
$font-family-base: 'Work Sans',
sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 700;
$nav-link-padding: 10px 15px 10px 15px;
$headings-color: #629BDD;
// NAV
$link-color: #4A4A4A;
$headings-font-family: 'Work Sans',
sans-serif;
$headings-font-weight: 400;
$headings-line-height: 1.3;
@import "node_modules/bootstrap/scss/bootstrap";
.logo {
    padding-top: 20pt;
    padding-bottom: 20pt;
}

a.active {
    color: #629BDD;
    font-weight: 400;
}

.nav-link {
    padding-left: 0px;
    padding-right: 30px;
}

.top-white {
    background-color: white;
}

.contact-top {
    background-color: #53BBFF;
}

h3 {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.contactData {
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}

.contactData:first-child {
    padding-right: 20px;
}

.contactHeader {
    font-size: 0.8rem;
}

.contactContainer {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 30px;
}

.drName {
    font-size: 1.3rem;
    color: #629BDD;
    font-weight: 700;
}

.darkSection {
    background-color: #125F89;
}

.darkSection p {
    color: #F7F7F7;
}

.drProfileText {
    padding-top: 30px;
}

.drProfile {
    padding-top: 40px;
}

h2 {
    font-size: 3.5rem;
    line-height: 3;
    font-weight: 700;
    text-align: center;
    color: #125F89;
}